* {
	font-family: 'Lato', Arial, sans-serif;
	font-size: 1.5em;
}

body {
	padding-top: 1em;
}

input {
	-webkit-appearance: none;
	text-align: center;
	width: 5em;
	padding: 0.25em;
	margin: 0;
	height: 1.25em;
	outline: none;
	border: 1px solid Silver;
	border-bottom: none;
}

input.last {
	border-bottom: 1px solid Silver;
}

button {
	display: none;
}

input, #Output {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#Output {
	width: 100%;
	text-align: center;
	margin-top: 1em;
	font-size: 4em;
}
